<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="background py-5">
        <div class="page-layout container d-flex">
            <div class="main w-75">
                <div class="text-center">
                    <h3>Блоги по программированию</h3>
                    <p class="py-3">Популярные и лучшие публикации по программированию для начинающих
                    и профессиональных программистов и IT-специалистов.</p>
                </div>
                <div class="blog mt-5 pt-3">
                    <% blogs.forEach((blog, index) => { %>
                        <div class="position-relative">
                            <img class="w-100" src="<%= blog.img %>" alt="">
                            <div class="d-flex justify-content-between blog-name">
                                <h3 class="py-3 mt-3"><%= blog.name %></h3>
                            </div>
                            <p><%= blog.description %></p>
                            <a href="/detail/<%=blog._id%>" class="stretched-link"></a>
                        </div>
                        <div class="blog-info d-flex justify-content-between align-items-center mt-3 mb-5">
                            <div class="date d-flex">
                                <div class="me-3">
                                    <img src="/img/icons/calendar.svg" alt="">
                                </div>
                                <p>26.06.2020</p>
                            </div>
                            <div class="views d-flex">
                                <div class="me-3">
                                    <img src="/img/icons/eye.svg" alt="">
                                </div>
                                <p>21</p>
                            </div>
                            <div class="comments d-flex">
                                <div class="me-3">
                                    <img src="/img/icons/comment.png" alt="">
                                </div>
                                <p>4</p>
                            </div>
                            <div class="catalog d-flex position-relative">
                                <div class="me-3">
                                    <img class="catalog-icon" src="/img/icons/communication.png" alt="">
                                </div>
                                <p><%= blog.categories.name %></p>
                            </div>
                            <div class="user d-flex">
                                <div class="me-3">
                                    <img src="/img/icons/user.svg" alt="">
                                </div>
                                <a href="/profile/<%= blog.author._id %>">
                                    <p><%= blog.author.full_name %></p>
                                </a>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <div class="pages d-flex justify-content-center">
                    <% 
                        let localsString = ''
                        if(locals.category){
                            localsString = `categories=${locals.category}&`
                        }
                        if(locals.search){
                            localsString = `search=${locals.search}&`
                        }
                        for (let i = 0; i < pages; i++) { 
                    %>
                        <a href="?<%= localsString %>page=<%=i%>" class="btn btn-primary p-2 px-3 me-2" ><%= i + 1 %></a>
                    <% 
                        } 
                    %>
                </div>
            </div>
            <%- include('partials/categories.ejs') %>
        </div>
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>