<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <div class="background vh-100 py-5 d-flex justify-content-center">
        <div class="new-blog main w-75">
            <h3 class="mb-4">Редактировать блог</h3>

            <form action="/api/blogs/edit" method="POST" enctype="multipart/form-data" class="w-75">
                <fieldset>
                    <input type="hidden" name="id" value="<%=blogs._id%>">
                </fieldset>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Введите заголовок блога" aria-label="Введите заголовок блога" value="<%= blogs.name %>" name="name">
                </div>
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect01" name="categories">
                    <option selected>Выберите категорию</option>
                    <% categories.forEach((item) => { %>
                    <%  if(item.id == blogs.categories){ %>
                            <option value="<%= item._id %>" selected><%= item.name %></option>
                    <% }else{ %>
                            <option value="<%= item._id %>"><%= item.name %></option>
                    <% }}) %>
                    </select>
                </div>
                <div class="input-group mb-3 w-50">
                    <input type="file" class="form-control" id="inputGroupFile02" value="<%= blogs.img %>" name="img">
                </div>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px" value=""  name="description"><%= blogs.description %></textarea>
                    <label for="floatingTextarea2">Введите описание блога</label>
                </div>
                <button class="btn btn-primary p-2 px-3 mt-3" type="submit">Редактировать</button>
            </form>
        </div>
    </div>
</body>
</html>